*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.content{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 10fr;
}
.content > :nth-child(1){
    grid-column: span 2;
    background-color: blue;
}
.content > :nth-child(2){
    background-color: rgb(53, 53, 132);
}
.content > :nth-child(3){
    background-color: rgb(144, 144, 211);
}